<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Word game</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
	<link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
	<link rel="stylesheet" href="main.css"/>
</head>
<body data-theme="dark" @vue:mounted="mountEvent">
<noscript>bez javascriptu to nepujde šefe</noscript>
<nav>
	<i @click="toggleHistory" class="fas fa-clock"></i>
</nav>
<div :class="{
	'popup-disabled': popup.enabled===false,
	'popup': true
}">{{popup.text}}</div>
<div id="app" v-if="displayGame">
	<h1>Word game</h1>
	<div class="container">
		<div v-for="(row, rowI) in letters" class="grid">
			<input type="text"
				   maxlength="1"
				   v-for="(letter,index) in row"
				   :key="`${index}-${rowI}`"
				   :disabled="rowI!==currentStage || endgame"
				   v-model="letters[rowI][index]"
				   style="width:5.5ch; text-align: center"
				   :class="{
						correct: statuses[rowI][index] === 'CORRECT',
						misplaced: statuses[rowI][index] === 'MISPLACED',
						wrong: statuses[rowI][index] === 'NOT_PRESENT'
				   }"
			>
		</div>
		<button @click="guess" :disabled="loading || endgame" :aria-busy="loading">Guess! [{{currentStage+1}}/6]</button>
	</div>
	<figure class="kbd">
		<button v-for="key in alphabet" :key="key.character" @click="kbdpress(key.character)" :class="{
			outline: true,
			correct: key.status==='CORRECT',
			misplaced: key.status==='MISPLACED',
			wrong: key.status==='NOT_PRESENT',
		}" :disabled="endgame">{{String.fromCharCode(key.character)}}</button>
		<button @click="kbdbackspace" :disabled="endgame" class="outline"><i class="fas fa-backspace"></i></button>
	</figure>
</div>
<div v-else id="history">
	<table>
		<tr>
			<th>Date</th>
			<th>Solved</th>
			<th>Word</th>
		</tr>
		<tr v-for="day in localHistory" :key="day.date">
			<td>{{day.date}}</td>
			<td><i :class="{fas:true, 'fa-check': day.success, 'fa-times': !day.success}"></i></td>
			<td>{{day.word}}</td>
		</tr>
	</table>
</div>
<script src="app.js" type="module"></script>
</body>
</html>
