/* Teal Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
	:root:not([data-theme="light"]) {
		--primary: #00897b;
		--primary-hover: #009688;
		--primary-focus: rgba(0, 137, 123, 0.25);
		--primary-inverse: #FFF;
	}
}

/* Teal Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
	--primary: #00897b;
	--primary-hover: #009688;
	--primary-focus: rgba(0, 137, 123, 0.25);
	--primary-inverse: #FFF;
}

/* Teal (Common styles) */
:root {
	--form-element-active-border-color: var(--primary);
	--form-element-focus-color: var(--primary-focus);
	--switch-color: var(--primary-inverse);
	--switch-checked-background-color: var(--primary);
}

.grid {
	justify-items: center;
	justify-content: center;
}

#app {
	padding: 7.5% 40%;
	width: 100%;
	height: 100%;
	display: grid;
	place-items: center;
}

body {
	height: 100vh;
	margin: 0;
	padding: 0;
}

.kbd {
	display: flex;
	justify-content: space-evenly;
	position: fixed;
	min-width: 100%;
	bottom: -.25em;
	overflow-x: auto
}

.kbd > button {
	width: 5ch;
	text-align: center;
}


.correct {
	background-color: #43a047;
}

.misplaced {
	background-color: #fdd835;
}

.wrong {
	background-color: black;
}

.popup-disabled {
	opacity: 0;
}

.popup {
	background-color: white;
	color: black;
	transition: opacity .5s;
	z-index: 999;
	position: fixed;
	top: 20vw;
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
	padding: .5em 2em;
	border-radius: 3px;
	max-width: 50vw;
	text-wrap: normal;
}


nav{
	position: fixed;
	width: 5vw;
	padding: .3em;
	transition: color .5s;
}

nav>i:hover{
	color: white;
	cursor: pointer;
}


.fa-times{
	color: red;
}

.fa-check{
	color: green;
}
